{% extends "base.html" %}
{% load static %}
{% block body %}
{% include "navbar.html" %}

<div class="flex h-screen">
    <!-- Sidebar -->
    <aside class="w-64 bg-[#262626] text-white flex flex-col transition-all duration-300 ease-in-out fixed left-0 top-0 bottom-0 ">
        <nav class="flex-grow mt-24">
            <ul class="space-y-2 px-2 sm:px-4">
                <li>
                    <a href="{% url 'vehicle_availability' %}" class="block py-2 px-4 rounded text-black  bg-gray-100 hover:bg-white flex items-center">
                      <i class="fa-solid fa-truck mr-2 flex-shrink-0 text-xl"></i>
                      <span class="ml-2">Truck & Trailer Availability</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'job_logistics' %}" class="block py-2 px-4 rounded text-black  bg-gray-100 hover:bg-white flex items-center">
                        <i class="fa-solid fa-clipboard mr-2 flex-shrink-0 text-xl"></i>
                        <span class="ml-2">Job Logistics Form</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'availability_report' %}" class="block py-2 px-4 rounded text-black  bg-gray-100 hover:bg-white flex items-center">
                      <i class="fa-solid fa-chart-column mr-2 flex-shrink-0 text-xl"></i>
                      <span class="ml-2">Availability Report</span>
                    </a>
                  </li>

                  <li>
                    <a href="{% url 'logistic_report' %}" class="block py-2 px-4 rounded text-black  bg-gray-100 hover:bg-white flex items-center">
                      <i class="fa-solid fa-file-lines mr-2 flex-shrink-0 text-xl"></i>
                      <span class="ml-2">Job Logistics Report</span>
                    </a>
                  </li>

            </ul>
        </nav>
    </aside>

    <!-- Main Content -->
    <main class="flex-grow ml-64 bg-black shadow-lg">
        {% block content %}
        <!-- Dynamic content will load here -->
        {% endblock %}
    </main>
</div>

{% endblock %}
