{% extends "availability_logistic_base.html" %}
{% load static %}
{% block content %}

<div class="container mx-auto mt-8 p-6 bg-white rounded-lg shadow-md">
    <!-- Title -->
    <h2 class="text-3xl font-bold mb-6 text-center text-red-600">Order Report</h2>

    <!-- Date Filters -->
    <div class="grid grid-cols-2 gap-4 mb-8">
        <div>
            <label for="start_date" class="block font-medium text-gray-700">Start Date:</label>
            <input type="date" id="start_date" name="start_date" 
                class="border border-gray-300 rounded-md px-2 py-2 focus:outline-none focus:ring-2 focus:ring-red-500 w-full max-w-full">
        </div>
        <div>
            <label for="end_date" class="block font-medium text-gray-700">End Date:</label>
            <input type="date" id="end_date" name="end_date" 
                class="border border-gray-300 rounded-md px-2 py-2 focus:outline-none focus:ring-2 focus:ring-red-500 w-full max-w-full">
        </div>
    </div>

    <!-- Report Options -->
    <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 text-center">
        <!-- Daily Job Summary -->
        <div class="flex flex-col items-center justify-center">
            <button class="bg-red-500 text-white rounded-full py-3 px-6 shadow-lg hover:bg-red-600 w-full sm:text-xl md:text-lg">
                <h3 class="font-bold">Daily Job Summary</h3>
            </button>
            <p class="text-sm mt-2 text-gray-700">Summary of jobs for each day</p>
        </div>

        <!-- Crew Performance -->
        <div class="flex flex-col items-center justify-center">
            <button class="bg-red-500 text-white rounded-full py-3 px-6 shadow-lg hover:bg-red-600 w-full sm:text-xl md:text-lg">
                <h3 class="font-bold">Crew Performance</h3>
            </button>
            <p class="text-sm mt-2 text-gray-700">Number of jobs done by each crew</p>
        </div>

        <!-- Vehicle Utilization -->
        <div class="flex flex-col items-center justify-center">
            <button class="bg-red-500 text-white rounded-full py-3 px-6 shadow-lg hover:bg-red-600 w-full sm:text-xl md:text-lg">
                <h3 class="font-bold">Vehicle Utilization</h3>
            </button>
            <p class="text-sm mt-2 text-gray-700">Usage frequency of each vehicle</p>
        </div>

        <!-- Referral Effectiveness -->
        <div class="flex flex-col items-center justify-center">
            <button class="bg-red-500 text-white rounded-full py-3 px-6 shadow-lg hover:bg-red-600 w-full sm:text-xl md:text-lg">
                <h3 class="font-bold">Referral Effectiveness</h3>
            </button>
            <p class="text-sm mt-2 text-gray-700">Effectiveness of different referral sources</p>
        </div>
    </div>
</div>

{% endblock %}
