<form method="post">
    {% csrf_token %}
    <p class="mb-4">Are you sure you want to delete <strong>{{ category.name|nice_title }}</strong>?</p>
    <button type="submit" class="w-full bg-red-600 hover:bg-red-700 transition font-bold py-2 rounded-lg text-lg mb-2">
      Yes, Delete
    </button>
    <button type="button" onclick="closeModal('deleteModal-{{ category.id }}')" class="w-full bg-gray-700 hover:bg-gray-800 transition font-bold py-2 rounded-lg text-lg">
      Cancel
    </button>
</form>
