{% extends "vehicle_inspection_base.html" %}
{% load static %}
{% block content %}

<div class="container mx-auto p-2 bg-gray-100 rounded-lg shadow-lg pt-6">
    <h1 class="text-2xl font-bold text-black mb-6 text-center">Truck Inspection Form</h1>

    <form method="post" class="space-y-6">
        {% csrf_token %}
        
        <!-- Date and Truck Information -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
                <label for="id_date" class="block text-gray-700 font-medium">Inspection Date</label>
                {{ form.date }}
            </div>
            <div>
                <label for="id_truck" class="block text-gray-700 font-medium">Truck</label>
                {{ form.truck }}
            </div>
        </div>

        <!-- Truck Status -->
        <div class="bg-white p-4 rounded-lg shadow space-y-4">
            <h2 class="text-lg font-semibold text-black">Trash & Clean Status</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                <div>
                    <label for="id_clean_status" class="block text-gray-700 font-medium">Clean/Wash/Detailed</label>
                    {{ form.clean_status }}
                </div>
                <div>
                    <label for="id_in_cab" class="block text-gray-700 font-medium">In Cab</label>
                    {{ form.in_cab }}
                </div>
                <div>
                    <label for="id_bed_of_truck" class="block text-gray-700 font-medium">Bed of Truck</label>
                    {{ form.bed_of_truck }}
                </div>
            </div>
        </div>

        <!-- Equipment Checklist -->
        <div class="bg-white p-4 rounded-lg shadow space-y-4">
            <div class="overflow-y-auto max-h-[calc(100vh-500px)]">
                <h2 class="text-lg font-semibold text-black">Equipment Checklist</h2>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
                    <div>
                        <label for="id_cones" class="block text-gray-700 font-medium">(Bed of Truck)  4 Cones</label>
                        {{ form.cones }}
                    </div>
                    <div>
                        <label for="id_spare_tire" class="block text-gray-700 font-medium">(Under Bed Truck)  Spare Tire</label>
                        {{ form.spare_tire }}
                    </div>
                    <div>
                        <label for="id_spare_tire_condition" class="block text-gray-700 font-medium">Condition of Spare Tire</label>
                        {{ form.condition_spare_tyre }}
                    </div>

                </div>
                
                
                <h2 class="text-lg font-semibold text-black mt-3 mb-3">In Cab</h2>

                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
                    {% for field in form %}
                        {% if field.name in in_cab_field %}
                            <div>
                                <label for="{{ field.id_for_label }}" class="block text-gray-700 font-medium">{{ field.label }}</label>
                                {{ field }}
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>

                <h2 class="text-lg font-semibold text-black mt-3 mb-3">Tool Box</h2>

                
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
                   
                    {% for field in form %}
                        {% if field.name not in excluded_fields and field.name not in in_cab_field %}
                            <div>
                                <label for="{{ field.id_for_label }}" class="block text-gray-700 font-medium">{{ field.label }}</label>
                                {{ field }}
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>


            <div>   
                </div>
                </div>
        </div>

        <!-- Submit Button -->
        <div class="text-center">
            <button type="submit" class="text-white font-medium py-2 px-4 rounded-full bg-[#262626] hover:bg-red-600 transition-all duration-300 ">
                Submit Inspection
            </button>
        </div>
    </form>
</div>

{% endblock %}
