{% extends "inventory_base.html" %}
{% load static %}
{% block content %}

<div class="container mx-auto p-2 bg-gray-100 rounded-lg shadow-lg pt-6 h-screen">
    <h1 class="text-2xl font-bold text-black mb-6 text-center">Uniform Inventory</h1>

    <form method="post" class="space-y-6">
        {% csrf_token %}

        <!-- Uniform Information -->
        <div class="bg-white p-4 rounded-lg shadow space-y-4">
            <h2 class="text-lg font-semibold text-black">Add Inventory</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div>
                    <label for="id_name" class="block text-gray-700 font-medium">Uniform</label>
                    {{ form.uniform }}
                </div>
            </div>
        </div>

        <!-- Gender and Stock Level -->
        <div class="bg-white p-4 rounded-lg shadow space-y-4">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div>
                    <label for="id_gender" class="block text-gray-700 font-medium">Qunatity</label>
                    {{ form.quantity }}
                </div>
                <div>
                    <label for="id_minimum_stock_level" class="block text-gray-700 font-medium">Condition</label>
                    {{ form.condition }}
                </div>
                
            </div>
            <div class="w-full">
                <label for="id_minimum_stock_level" class="block text-gray-700 font-medium">Notes</label>
                {{ form.notes }}
            </div>
        </div>

        <!-- Submit Button -->
        <div class="text-right">
            <button type="submit" class="text-white font-medium py-2 px-4  bg-[#262626] hover:bg-red-600 transition-all duration-300 ">
                Add Inventory
            </button>
        </div>
    </form>
</div>

{% endblock %}
