{% extends "inventory_base.html" %}
{% load static %}
{% block content %}

<div class="container mx-auto p-2 bg-gray-100 rounded-lg shadow-lg pt-6 h-screen">
    <h1 class="text-2xl font-bold text-black mb-6 text-center">Add Employee</h1>

    <!-- Employee Add Form -->
    <form method="post" class="space-y-6">
        {% csrf_token %}

        <!-- Employee Information -->
        <div class="bg-white p-4 rounded-lg shadow space-y-4">
            <h2 class="text-lg font-semibold text-black">Employee Details</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div>
                    <label for="id_name" class="block text-gray-700 font-medium">Employee Name</label>
                    {{ form.name }}
                </div>
                <div>
                    <label for="id_designation" class="block text-gray-700 font-medium">Designation</label>
                {{ form.role }}
                </div>
            </div>
        </div>

        <!-- Submit Button -->
        <div class="text-center">
            <button type="submit" class="text-white font-medium py-2 px-4 rounded-full bg-[#262626] hover:bg-red-600 transition-all duration-300 ">
                Add Employee
            </button>
        </div>
    </form>

    <!-- Remove Employee Section -->
    <div class="bg-white p-4 rounded-lg shadow space-y-4 mt-6">
        <h2 class="text-lg font-semibold text-black">Select an Employee to Remove</h2>
        
        <form method="post" action="{% url 'employee' %}">
            {% csrf_token %}
            <!-- Action Type to Handle Delete -->
            <input type="hidden" name="action" value="delete">
            
            <div>
                <label for="id_employee" class="block text-gray-700 font-medium">Employee</label>
                <select name="employee" id="id_employee" class="border border-gray-300 rounded-md px-2 py-2 focus:outline-none focus:ring-2 focus:ring-red-500 w-full">
                    <option value="" disabled selected>Select an Employee</option>
                    {% for employee in employees %}
                        <option value="{{ employee.id }}">{{ employee }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Submit Button for Deleting Employee -->
    <div class="text-center mt-3">
        <button type="submit" class="text-white font-medium py-2 px-4 rounded-full bg-[#262626] hover:bg-red-600 transition-all duration-300 ">
            Remove Employee
        </button>
    </div>
        </form>
    </div>
    

</div>

{% endblock %}
