{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Inventory List</title>
</head>
<body>
    <h1>Inventory List</h1>
    <a href="{% url 'add_inventory' %}">Add New Inventory</a>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Gender</th>
                <th>Minimum Stock</th>
                <th>New Stock</th>
                <th>Used Stock</th>
                <th>In Use</th>
                <th>Disposed</th>
                <th>Not Returned</th>
                <th>Return to Supplier</th>
                <th>Total Stock</th>
            </tr>
        </thead>
        <tbody>
            {% for item in inventory %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.category }}</td>
                <td>{{ item.gender }}</td>
                <td>{{ item.minimum_stock }}</td>
                <td>{{ item.new_stock }}</td>
                <td>{{ item.used_stock }}</td>
                <td>{{ item.in_use }}</td>
                <td>{{ item.disposed }}</td>
                <td>{{ item.not_returned }}</td>
                <td>{{ item.return_to_supplier }}</td>
                <td>{{ item.total_stock }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
